/************************************************************************************
 * Light Box 2
 ************************************************************************************/
#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(images/pix.gif) left 50% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(images/pix.gif) right 50% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: normal;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 141px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #FCFCFC; }

/****************
 * Fonts
 ****************/
 @font-face	{
		font-family: FF_DIN_Light;
		src: url('fonts/FF_DIN_Light.otf');
	}
	
	@font-face	{
		font-family: HelveticaNeueLTPro-UltLt;
		src: url('fonts/HelveticaNeueLTPro-UltLt.otf');
	}
	
	@font-face	{
		font-family: HelveticaNeueLTPro-Th;
		src: url('fonts/HelveticaNeueLTPro-Th.otf');
	}
	
	@font-face	{
		font-family: LetterGothicStd;
		src: url('fonts/LetterGothicStd.otf');
	}
	
	@font-face	{
		font-family: HelveticaNeueLTPro-Th;
		src: url('fonts/HelveticaNeueLTPro-Th.otf');
	}
	
	@font-face	{
		font-family: HelveticaNeueLTPro-HvIt;
		src: url('fonts/HelveticaNeueLTPro-HvIt.otf');
	}
	
	@font-face	{
		font-family: HelveticaNeueLTPro-Hv;
		src: url('fonts/HelveticaNeueLTPro-Hv.otf');
	}
	
	@font-face	{
		font-family: HelveticaNeueLTPro-Lt;
		src: url('fonts/HelveticaNeueLTPro-Lt.otf');
	}
	
	@font-face	{
		font-family: HelveticaNeueLTPro-Md;
		src: url('fonts/HelveticaNeueLTPro-Md.otf');
	}
	
	@font-face	{
		font-family: HelveticaNeueLTPro-MdIt;
		src: url('fonts/HelveticaNeueLTPro-MdIt.otf');
	}

/************************************************************************************
 * Page temporaire
 ************************************************************************************/
 
 
	
	div.calqueTemp	{
		width:100%;
		height:2040px;
		/*background-image:url(images/alert-band.png);*/
		background-image:url(images/oo-blanc.png); 
		background-position: top; 
		background-repeat:no-repeat;
		background-position: 50% 0%;
		z-index:50;
		position:absolute;
		background-color:#F60;
		top:0px;
		opacity:0.92;
		z-index:100;
		padding-top:150px;
	}
	
	p.avertissement	{
		font-family: HelveticaNeueLTPro-Lt, Helvetica, Arial, sans-serif;
		/*font-weight:bold;*/
		color:#000;
		text-transform:uppercase;
		font-size:11px;
		letter-spacing:0px;
		right:0px;
		margin-top:50px;
		margin-left:-10px;
		margin-right:110px;
		padding-left:50px;
		padding-right:350px;
		float:right;
	}
	
	a.avertissement	{
		font-family: Helvetica, Arial, sans-serif;
/*		font-weight:bold;
*/		color: #FFF;
		text-transform:uppercase;
		font-size:11px;
		letter-spacing:0px;
		text-decoration:none;
		display:block;
		border: solid;
		border-width:1px;
		size: 1pt;
		border-color:#FFF;
		padding:2px;
		width:140px;
		float:left;
	}
	
	ul.avertissement	{
		font-family: Helvetica, Arial, sans-serif;
		/*font-weight:bold;*/
		color: #000;
		text-transform:uppercase;
		font-size:11px;
		letter-spacing:0px;
		text-decoration:none;
		padding-left:70px;
	}
	
	div.backpage  {
		width:100%;
		background-image:url(images/bg-homme-temp.jpg);
		background-position:top;
		background-color:#F60;
		visibility:visible;
		position: absolute;
		top:0px;
		z-index:1;
		height:100%;
	}
	
	div.header1  {
		width:1024px;
		height:160px;
		visibility:visible;
		position: relative;
		top:0px;
		z-index:10;
		margin-left:auto;
		margin-right:auto;
	}
	
	div.onglets  {
		width:100%;
		visibility:visible;
		position: absolute;
		bottom:-3px;
		left:0px;
		top:122px;
		z-index:15;
	}
	
	div.page  {
		background-color:#FFF;
		visibility:visible;
		position: relative;
		top:0px;
		margin-left:auto;
		margin-right:auto;
		z-index:1;
		border:thin;
		width:1024px;
		padding-bottom:30px;
	}
	
/*	div.page2  {
		background-color:#FFF;
		visibility:visible;
		position: relative;
		top:0px;
		margin-left:auto;
		margin-right:auto;
		z-index:1;
		border:thin;
		max-width:1024px;
	}*/
	
	div.edito  {
		max-width:725px;
		max-height:inherit;
		visibility:visible;
		position: relative;
		top:0px;
		z-index:10;
		padding-bottom:20px;
	}
	
	p.edito-titre	{
		font-family: HelveticaNeueLTPro-Th, helvetica, arial, sans-serif;
		font-size:24pt;
		color:#333;
		margin-left:20px;
		margin-top:20px;
		margin-right:50px;
		margin-bottom:0px;
		text-transform:uppercase;
		line-height:22pt;
		letter-spacing:0px;
	}
	
	p.edito-titre2	{
		font-family: HelveticaNeueLTPro-Md, helvetica, arial, sans-serif;
		font-size:14pt;
		color:#000;
		margin-left:40px;
		margin-top:20px;
		margin-right:50px;
		margin-bottom:0px;
		text-transform:uppercase;
		line-height:18pt;
		letter-spacing:0px;
	}
	
	p.edito-titre3	{
		font-family: HelveticaNeueLTPro-Hv, helvetica, arial, sans-serif;
		font-size:12pt;
		color:#000;
		margin-left:40px;
		margin-top:20px;
		margin-right:50px;
		margin-bottom:0px;
		line-height:15pt;
		letter-spacing:0px;
	}
	
	p.edito-txt	{
		font-family: HelveticaNeueLTPro-Lt, helvetica, arial, sans-serif;
		font-size:12pt;
		color:#666;
		margin-left:40px;
		margin-top:20px;
		margin-right:80px;
		line-height:14pt;
	}
	
	p.edito-txt2	{
		font-family: HelveticaNeueLTPro-Lt, helvetica, arial, sans-serif;
		font-size:12pt;
		color:#666;
		margin-left:40px;
		margin-top:20px;
		margin-right:80px;
		line-height:14pt;
		display:none;
	}
	
	p.exergue	{
		font-family: Helvetica, Arial, sans-serif;
		width:120px;
		background-color:#F60;
		font-size:11pt;
		color:#FFF;
		margin-top:330px;
		float:right;
		text-align:left;
		padding:30px;
		padding-left:40px;
		margin-right:10px;
		margin-left:30px;
		line-height:12pt;
		text-transform:uppercase;
		font-weight:bold;
	}
	
	span.exergue	{
		font-family: Helvetica, Arial, sans-serif;
		width:120px;
		background-color:#F60;
		font-size:11pt;
		color:#FFF;
		margin-top:0px;
		float:right;
		text-align:left;
		padding:30px;
		padding-left:40px;
		margin-right:10px;
		margin-left:-40px;
		line-height:12pt;
		text-transform:uppercase;
		font-weight:bold;
	}
	
	div.ecoles  {
		width:675px;
		visibility:visible;
		position: relative;
		top:0px;
		z-index:10;
		padding-bottom:80px;
		padding-left:20px;
		overflow:hidden;
		background-image:url(images/lesEcoles-picto.png);
		background-position: top left;
		background-repeat:no-repeat;
	}
	
	div.groupecole  {
		width:135px;
		height:190px;
		visibility:visible;
		position: relative;
		top:80px;
		z-index:10;
		margin-left:20px;
		margin-top:30px;
		padding-bottom:20px;
		border:0px;
		float:left;
		background-color:#F9F9F9;
		display:inline-block;
	}
	
	div.work	{
		visibility:visible;
		position:relative;
		width:675px;
		margin-top:30px;
		margin-left:40px;
		margin-bottom:80px;
		z-index:10;
	}
	
	p.ecolenom	{
		font-family: Helvetica, Arial, sans-serif;
		background-color:#36C;
		font-size:15pt;
		color:#FFF;
		text-transform:uppercase;
		padding-top:10px;
		padding-bottom:10px;
		font-weight:bold;
		margin-top:0px;
		margin-bottom:0px;
		letter-spacing:1px;
	}
	
	span.ecoletype	{
		font-family: Helvetica, Arial, sans-serif;
		font-size:9pt;
		color:#FFF;
		text-transform:uppercase;
		font-weight:normal;
		letter-spacing:0px;
	}
	
	p.ecolespec	{
		font-family: Helvetica, Arial, sans-serif;
		font-size:10pt;
		line-height:11pt;
		color:#666;
		margin-top:10px;
		margin-bottom:0px;
		padding-left:10px;
	}
	
	div.dossiers  {
		max-width:670px;
		visibility:visible;
		position: relative;
		top:0px;
		z-index:10;
		margin-top:-10px;
		padding-bottom:0px;
	}
	
	div.agenda  {
		width:370px;
		height:320px;
		background-color:#ffe61e;
		visibility:visible;
		position: absolute;
		top:0px;
		right:0px;
		margin-left:20px;
		padding-bottom:10px;
		z-index:20;
	}
	
	p.agenda-txt	{
		font-family: arial, helvetica, sans-serif;
		font-size:9pt;
		font-weight:bold;
		color:#000;
		margin-left:50px;
		margin-right:30px;
		text-transform:uppercase;
		line-height:11pt;
	}
	
	span.agenda-date	{
		font-family: arial, helvetica, sans-serif;
		font-size:14pt;
		font-weight:bold;
		color:#000;
		text-transform:uppercase;
		line-height:12pt;
	}
	
	div.adherez  {
		width:310px;
		background-color:#f2f2f2;
		visibility:visible;
		position: absolute;
		top:330px;
		right:0px;
		margin-left:20px;
		padding-bottom:10px;
		z-index:20;
	}
	
	p.adherez-txt	{
		font-family: Arial, Helvetica, sans-serif;
		font-size:9pt;
		color:#000;
		margin-left:30px;
		margin-right:20px;
		line-height:11pt;
	}
	
	div.stage  {
		width:330px;
		background-image:url(images/2012-09-18-SOS-STAGE-Info.jpg);
		background-repeat:no-repeat;
		background-color: #445;
		visibility:visible;
		position: absolute;
		top:780px;
		right:0px;
		margin-left:20px;
		padding-bottom:10px;
		padding-top:160px;
		z-index:20;
	}
	
	p.stage-txt	{
		font-family:  HelveticaNeueLTPro-Lt, Helvetica, Arial, sans-serif;
		font-size:8pt;
		color:#CCC;
		margin-left:30px;
		margin-right:20px;
		line-height:9pt;
		letter-spacing:1px;
		text-transform:uppercase;
	}
	
	div.footer  {
		width:1024px;
		height:230px;
		background-color:#F90;
		visibility:visible;
		position: relative;
		z-index:10;
		margin-top:0px;
		margin-left:auto;
		margin-right:auto;
		border-color:#F90;
		overflow:hidden;
		padding-bottom:50px;
	}
	
	table.sitemap	{
		margin-top:-60px;
		width:1024px;
		padding: 30px;
	}
	
	td.sitemap	{
		vertical-align:top;
		width:170px;
		display:inline-bloc;
	}
	
	p.sitemap-title1	{
		font-family: HelveticaNeueLTPro-Th, helvetica, arial, sans-serif;
		font-size:18pt;
		color:#C60;
		line-height:18pt;
		letter-spacing:1px;
		margin:30px;
	}
	
	p.sitemap-title2	{
		font-family: HelveticaNeueLTPro-Md, helvetica, arial, sans-serif;
		font-size:10pt;
		color:#C60;
		text-transform:uppercase;
		line-height:12pt;
		letter-spacing:0px;
		margin-bottom:0px;
	}
	
	p.sitemap-txt	{
		font-family: HelveticaNeueLTPro-Md, helvetica, arial, sans-serif;
		font-size:7pt;
		color: #C60;
		text-transform:uppercase;
		line-height:14pt;
		letter-spacing:0px;
		margin-left:5px;
		margin-top:7px;
	}
	
	span.txt-orange		{
		color:#F60;
	}
	
	a.link		{
		color:#39F;
		text-decoration:none;
	}
	
	
	
	a.link:hover		{
		color:#39F;
		text-decoration: underline;
		border:0;
	}
	
	a.lirePlus		{
		color:#39F;
		text-decoration:none;
		font-size:12pt;
		display:inline-block;
		margin-top:20px;
	}
	
	
	
	a.lirePlus:hover		{
		color:#39F;
		text-decoration: underline;
		border:0;
		font-size:12pt;
	}
	
	div.illustr  {
		max-width:725px;
		visibility:visible;
		position: absolute;
		bottom:0px;
		right:0px;
		z-index:5;
		padding-bottom:0px;
	}
	
	div.vignette  {
		width:142px;
		height:220px;
		visibility:visible;
		position: relative;
		z-index:10;
		margin-left:20px;
		margin-right:-30px;
		padding:20px;
		display:inline-block;
		margin-top:0px;
		float:left;
	}
	
	img.vignettes	{
		height: 200px;
	}
	
	p.vignette-txt	{
		font-family:Arial, Helvetica, sans-serif;
		font-size:8pt;
		color:#666;
	}